* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #282828;
    font-family: "Merriweather", "serif";
    font-size: 12px;
    color: #e1e1e1;
}


nav {
    width: 90px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  background-color: #161616;
  padding: 15px;
}

.nav_container {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); 
}
.nav_container .nav_item {
    display: inline-flex;
    height: 80px;
    width: 80px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #282828;
    margin-bottom: 20px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none !important;
    transition: width 0.2s; 
    color: white;
}

.nav_container .nav_item:hover {
    cursor: pointer;
    width: 85px;
    color: #FAC748;
   
}
.nav_item_icon {
    font-size: 22px;
    margin-bottom: 10px;
}

.about_section {
    
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
   
    
}

.about_container {
   
    width: 50%;
    height: 80%;
   
    position: absolute;
    top: 0;
}

.heading {
    font-family: "Lora", "serif";
    margin: 30px 0px;
    margin-bottom: 50px;
}
.heading h1 {
    margin: 0;
    font-size: 4.5em;
    color: #fff;
}
.heading_underline {
   
    background-color: #FAC748;
    height: 2px;
    margin-top: 15px;
    width: 75px;
}

.info_card_text {
   
    padding: 12px 15px;
    background-color: #3e3e3e;
    border-radius: 5px;
    margin: auto;
    min-width: 310px;

}

.info_card_text span {
    display: block;
      margin: 0px;
      margin-bottom: 12px;
      font-size: 1.5em;
      line-height: 1.5em;
      font-weight: 400; 
}

.info_card_text span:last-of-type {
    margin-bottom: 0px;
}


.bold_text {
    font-weight: 700 !important;
}


.text_icon {
    width: 20px;
    margin-right: 10px;
    text-align: center;
}

.info_card_container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 30px;
}

.info_card_image img{
    width: 100%;
      max-width: 180px;
      display: block;
      margin: auto;
      border-radius: 100%;
      min-width: 150px;
}
.info_card_image {
    margin: auto;
    margin-right: 30px;
}

.about_text {
    margin: 0px;
    margin-bottom: 15px;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.9em;
}